@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  @apply bg-white text-black;
  font-family: "Inter", sans-serif;
}

.inputForm{
  @apply text-xs text-black bg-white pl-4 py-2 rounded-lg shadow-sm  placeholder:text-gray-300;
  border-width: 1.8px;
}

input:focus {
  outline: none;
  border-color: black;
  border-width: 1.8px;
}

label {
  @apply text-xs font-semibold;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

